@import '~node_modules/modern-normalize/modern-normalize.css';

// Fonts
$main-font-family: 'Roboto', sans-serif;

// Size
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// Colors
$first-text-color: #000000;
$secondary-text-color: #ffffff;
$trird-text-color: #8c8c8c;
$fourth-text-color: #545454;
$sixth-text-color: #ff6b08;
$main-bgcolor: #ffffff;
$secondary-bg-color: #ff6b08;
$first-border-color: #000000;
$secondary-border-color: #ffffff;
$line-color: #ff001b;
$active-btn-color: #ff6b01;

// Animation
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

body {
  font-family: $main-font-family;
  color: #000000;
  background-color: #ffffff;
  min-height: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
  @media screen and (max-width: 1279px) {
    overflow: hidden;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
