<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="wrapper">
        <p class="footer__rights">&copy; 2023 | All Rights Reserved |</p>
        <p>
          Developed with &#129505; by
          <button class="footer__btn" type="button">GoIT Students</button>
        </p>
      </div>
      <p class="footer__credit">
        |
        <span class="footer__credit-span">Made by using</span>
        <a
          href="https://www.themoviedb.org/"
          class="footer__link"
          target="_blank"
          >The Movie Database API</a
        >
      </p>
    </div>
  </div>
</footer>
