<header class="header-mylibrary">
  <div class="container">
    <div class="header-mylibrary__wrapper">
      <a href="./index.html">
        <div class="header-mylibrary__logo">
          <svg class="header-mylibrary__logo--icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </div>
        <span class="header-mylibrary__logo--text">Filmoteka</span>
      </a>

      <nav class="nav-mylibrary">
        <ul class="nav-mylibrary__list">
          <li class="nav-mylibrary__item">
            <a class="nav-mylibrary__link" href="index.html"> home </a>
          </li>
          <li class="nav-mylibrary__item active">
            <a class="nav-mylibrary__link" href="./library.html">
              my library
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="button-mylibrary__wrap">
      <button class="button" type="button" data-action="watched">
        Watched
      </button>
      <button class="button" type="button" data-action="queue">queue</button>
    </div>
  </div>
  <!-- <label class="form-switch">
    <input type="checkbox" id="theme-switch-toggle">
    <i></i>

    <svg class="theme-switch__icon" aria-label="moon">
      <use href="./images/symbol-defs.svg#moon"></use>
    </svg>
  </label> -->
</header>
