<header class="header" id="home">
  <div class="header__container container">
    <div class="header__wrapper">
      <a class="logo" href="./index.html">
        <div class="header__logo">
          <svg class="header__logo--icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </div>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item active">
            <a class="nav__link" href="index.html"> home </a>
          </li>
          <li class="nav__item" id="library">
            <a class="nav__link" href="library.html"> my library </a>
          </li>
          <li class="nav__item" id="auth">
            <button type="button" class="nav__auth-btn" data-modal-open="login">
              <svg class="nav__auth-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-auth"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="input">
      <form class="input__wraper form" id="search-form">
        <input class="header__input" name="searchQuery" type="text" placeholder="Movie search" autocomplete="off" />
        <button class="input__search-btn" type="submit">
          <svg class="input__search-icon" width="12px" height="12px">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <p class="input__error visually-hidden " id="js-input-error">Search result not successful. Enter the correct movie
      name and repeat</p>
    <label class="form-switch">
      <input type="checkbox" id="theme-switch-toggle" />
      <i></i>
      <svg class="theme-switch__icon" aria-label="moon" fill="#ff001b">
        <use href="./images/icons.svg#moon"></use>
      </svg>
    </label>
  </div>
</header>