<header class="header-mylibrary">
  <div class="container">
    <div class="header-mylibrary__wrapper">
      <a href="./index.html">
        <div class="header-mylibrary__logo">
          <svg class="header-mylibrary__logo--icon" width="24px" height="24px">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </div>
        <span class="header-mylibrary__logo--text">Filmoteka</span>
      </a>

      <nav class="nav-mylibrary">
        <ul class="nav-mylibrary__list">
          <li class="nav-mylibrary__item">
            <a class="nav-mylibrary__link" href="index.html"> home </a>
          </li>
          <li class="nav-mylibrary__item active">
            <a class="nav-mylibrary__link" href="./library.html">
              my library
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="button-mylibrary__wrap">
      <button class="button" type="button" data-action="watched">
        Watched
      </button>
      <button class="button" type="button" data-action="queue">queue</button>
    </div>
  </div>
  <label class="form-switch">
    <input type="checkbox" id="theme-switch-toggle">
    <i></i>

      <svg class="theme-switch__icon" aria-label="moon" width="38" height="40" viewBox="0 0 38 40" fill="red"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15 0.695136C15.244 0.991667 15.3935 1.35457 15.4292 1.73694C15.4648 2.11932 15.385 2.5036 15.2 2.84014C13.7546 5.49382 12.9998 8.46837 13.005 11.4901C13.005 21.5426 21.2 29.6826 31.3 29.6826C32.6175 29.6826 33.9 29.5451 35.1325 29.2826C35.5103 29.2008 35.9039 29.2321 36.264 29.3726C36.6241 29.5131 36.9349 29.7566 37.1575 30.0726C37.3925 30.4013 37.5123 30.7983 37.4983 31.2021C37.4842 31.6058 37.3372 31.9936 37.08 32.3051C35.1192 34.7137 32.6456 36.6544 29.8396 37.9856C27.0335 39.3168 23.9658 40.0051 20.86 40.0001C9.335 40.0001 0 30.7151 0 19.2751C0 10.6651 5.285 3.28014 12.81 0.150136C13.1848 -0.00828447 13.601 -0.0407995 13.9959 0.057475C14.3908 0.15575 14.7431 0.379507 15 0.695136V0.695136Z">
        </path>
      <!-- <use href="./images/symbol-defs.svg#moon"></use> -->
    </svg>
  </label>
</header>
