<section class="library">
  <div class="container">
    <h1 class="visually-hidden">Your library</h1>
    <div class="library-empty">
      <img class="library-empty__image" src="./images/library.gif" alt="there are no films in your library" />
      <p class="library-empty__text">
        Unfortunately there are no movies added to the library
      </p>
      <a class="library-empty__link" href="./index.html"> Go home </a>
    </div>
    <ul class="library_list js-library_list"></ul>
  </div>
</section>