.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 777;
  width: 100%;
  height: 100%;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.2);

  transform: translateY(0px);
  transition: transform $animation, opacity $animation, visibility $animation;

  overflow-y: scroll;

  @media screen and (max-width: 340px) {
    padding: 0;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100px);
}
