.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity $transition;

  overflow-y: scroll;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
