.button {
    cursor: pointer;
    width: 130px;
    height: 44px;
    color: $secondary-text-color;
    border-radius: 5px;
    @include font(12, 500, 1.33);
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $secondary-text-color;
    &:last-child {
      margin-left: 20px;
    }
    &:hover,
    &:focus {
      border: 1px solid $secondary-bg-color;
      background-color: $secondary-bg-color;
      transition: $transition;
    }
  
    @include tablet {
      width: 152px;
      &:last-child {
        margin-left: 32px;
      }
    }
  
    @include tablet {
      width: 148px;
      height: 42px;
      &:last-child {
        margin-left: 16px;
      }
    }
  }