.modal-movie {
  position: relative;
  width: 280px;
  z-index: 778;

  margin: 0 auto;
  padding: 40px 20px;
  padding-top: 48px;

  background-color: $secondary-border-color;
  transform: translateY(0px);
  transition: transform $animation, opacity $animation, visibility $animation;

  @media screen and (min-width: $tablet) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
  }

  @media screen and (min-width: $desktop) {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.modal-movie__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: transparent;
  transform: scale(1);
  transition: transform $transition, color $transition;

  &:hover,
  :focus {
    color: $active-btn-color;
    transform: scale(1.4);
  }
}

.movie-card {
  position: relative;

  @media screen and (min-width: $desktop) {
    width: 391px;
  }
}

.modal-movie__poster {
  display: block;
  width: 240px;
  height: 357px;
  margin-bottom: 20px;
  object-fit: cover;

  background-color: gray;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    width: 264px;
    height: 373.55px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 375px;
    height: 478px;
  }
}

.movie-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.info-table {
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.info-table__classification {
  display: block;
  margin-right: 41px;
  margin-bottom: 8px;
  width: 75px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $trird-text-color;

  @media screen and (min-width: $desktop) {
    margin-right: 85px;
  }
}

.info-table__classification--not-margin {
  margin-bottom: 0;
}

.info-table__classification-data {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $first-text-color;
}

.rating--slash-color {
  color: $trird-text-color;
}

.rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  border-radius: 5px;
}

.rating--vote {
  color: $secondary-text-color;
  background-color: #ff6b01;
}

.rating--votes {
  background-color: #f7f7f7;
}

.movie-card__about-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  margin-bottom: 8px;
}

.movie-card__movie-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    width: 264px;
    max-height: 200px;
    margin-bottom: 0;
    overflow-y: auto;
  }

  @media screen and (min-width: $desktop) {
    width: 391px;
    height: 140px;
  }
}

.control-btns {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;

  @media screen and (min-width: $tablet) {
    column-gap: 15px;
    position: absolute;
    right: 72px;
    bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    right: 108px;
    bottom: 111px;
  }
}

.control-btn {
  width: 110px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    width: 125px;
  }

  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

.control-btn--to-watched {
  background-color: $active-btn-color;
  color: $secondary-text-color;
}

.control-btn--to-queue {
  border: 1px solid $first-border-color;
  background-color: transparent;
}

.active-button {
  border: 1px solid $active-btn-color;
  background-color: $active-btn-color;
  color: $secondary-text-color;
}

@media screen and (min-width: $tablet) {
  .movie-box {
    display: flex;
    column-gap: 68px;
  }
}

@media screen and (min-width: $desktop) {
  .movie-box {
    column-gap: 16px;
  }
}