.modal-movie {
  position: relative;
  width: 280px;
  height: 940px;

  margin: 0 auto;

  background-color: $secondary-border-color;
  transform: scale(1);
  transition: transform $animation, opacity $animation, visibility $animation;

  @media screen and (min-width: $tablet) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: $desktop) {
    width: 806px;
    height: 558px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.7);
}

.modal-movie__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: transparent;
  transform: scale(1);
  transition: transform $transition, color $transition;

  &:hover,
  :focus {
    color: $active-btn-color;
    transform: scale(1.4);
  }
}

.no-scroll {
  overflow: hidden;
}
