.theme {
    position: fixed;
    top: 50%;
    right: 20px;
    // transform: translateY(-50%);
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.theme svg {
    cursor: pointer;
}

.change-theme[data-theme="dark"] {
    display: block;
}

.change-theme[data-theme="light"] {
    display: none;
}