body {
    color: #ffffff;
    background-color: #10181D;
}


.theme {
    background: #10181D;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.change-theme[data-theme="dark"] {
    display: none;
}

.change-theme[data-theme="light"] {
    display: block;
}